<div class="modal-body dashboard">
    <div class="pagetitle">
        <h4 class="t-bold">
            {{pktipoMantenimiento == null ? 'Registrar' : 'Actualizar'}} tipo de mantenimiento
        </h4>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Moneda</li>
                <li class="breadcrumb-item active"> {{pktipoMantenimiento == null ? 'Registrar' : 'Actualizar'}} tipo de mantenimiento</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formtipoMantenimiento" class="row g-3" autocomplete="off">
                        <div class="col-lg-6">
                            <label for="type_maintenances" class="form-label" >Tipo de Mantenimiento:</label>
                            <input id="type_maintenances" type="text"
                             class="form-control form-control-sm" placeholder="Escribe el tipo de Mantenimiento"
                                formControlName="type_maintenances">
                        </div>

                        <div class="col-lg-6">
                            <label for="color" class="form-label" >Color:</label>
                            <input id="color" type="text"
                             class="form-control form-control-sm" placeholder="Escribe el color"
                                formControlName="color">
                        </div>

                        <div class="col-lg-6">
                            <label for="acronym" class="form-label" >Abreviatura:</label>
                            <input id="acronym" type="text"
                             class="form-control form-control-sm" placeholder="Escribe la Abeviatura"
                                formControlName="acronym">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="pktipoMantenimiento == null" class="btn btn-sm btn-primary" (click)="registrarTipoMantenimiento()">
        Registrar
    </button> 
        <button *ngIf="pktipoMantenimiento != null" class="btn btn-sm btn-warning" (click)="actualizartipoMantenimiento()">
        Actualizar
    </button>
    <button class="btn btn-sm btn-danger" (click)="cerrarModal()">
        {{cambiosForm || pktipoMantenimiento != null ? 'Cancelar' : 'Cerrar'}}
    </button>
</div>