<div class="modal-body dashboard">
    <div class="pagetitle">
        <h4 class="t-bold">
            {{pktipoOrden == null ? 'Registrar' : 'Actualizar'}} tipo de orden
        </h4>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Moneda</li>
                <li class="breadcrumb-item active"> {{pktipoOrden == null ? 'Registrar' : 'Actualizar'}} tipo de orden</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formtipoOrden" class="row g-3" autocomplete="off">
                        <div class="col-lg-6">
                            <label for="type_orders" class="form-label" >Tipo de Orden:</label>
                            <input id="type_orders" type="text"
                             class="form-control form-control-sm" placeholder="Escribe el tipo de Orden"
                                formControlName="type_orders">
                        </div>

                        <div class="col-lg-6">
                            <label for="color" class="form-label" >Color:</label>
                            <input id="color" type="text"
                             class="form-control form-control-sm" placeholder="Escribe el color"
                                formControlName="color">
                        </div>

            
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button *ngIf="pktipoOrden == null" class="btn btn-sm btn-primary" (click)="registrarTipoOrden()">
        Registrar
    </button> 
        <button *ngIf="pktipoOrden != null" class="btn btn-sm btn-warning" (click)="actualizarTipoOrden()">
        Actualizar
    </button>
    <button class="btn btn-sm btn-danger" (click)="cerrarModal()">
        {{cambiosForm || pktipoOrden != null ? 'Cancelar' : 'Cerrar'}}
    </button>
</div>